{% extends "layout.html" %}

{% set active_page = "Airline" %}

{% block title %}Airline{% endblock %}

    {% block content %}
    <script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Delays for {{ airline_chart_name }}"
	},
	data: [{
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: [
			{{ airline_chart_data }}
		]
	}]
});
chart.render();

}
</script>
<br>
    <form action="/ShowAirlineData">
        <div class="form-group">
        <label for="airline">Select Airline:</label>
        <select class="form-control" name="airline">
            {{ airline_options }}
        </select>
        </div>
        <div class="form-group">
        <label for="month">Select Month:</label>
        <select class="form-control" name="month">
            {{ Month_Options }}
        </select>
        </div>
        <div class="d-flex justify-content-center">
        <input class="btn btn-primary" type="submit" value="Get Data">
        </div>

    <br><br>
    <p> {{ airline_delay_year }} </p>
    <br>
    {% if airline_chart_data %}
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    {% endif %}
    {% endblock %}
